
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #a46f61,#edc0f7, #f7bb8d);
    color: #333;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background: white;
    border-radius: 8px;

}

h1, h3{
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

h2 {
    color: #9f7064;
    border-bottom: 2px solid #9f7064;
    padding-bottom: 10px;
}


form {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

form input {
    flex: auto;
    border: 2px solid #f3d8d8;
    border-radius: 4px;
    padding: 10px;
    margin: 10px 10px;
    
}



table {
    width: 100%;
    margin-top: 20px;
}

table th {
    background-color: #a77366;
    color: #e4e2e2;
    padding: 10px;
    border: 1px solid;
    text-align: left;
}

table td {
 
    border: 1px solid #ddd;
    text-align: left;
}


button {
    background: linear-gradient( #b1796b, #feb47b);
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
    margin: 10px 10px;
}

button:hover {
    background: linear-gradient( #f9d9c2, #ffbbb5);
}
