
body {
    font-family: Arial, sans-serif;
    background: black;
    color: #333;
}

.container {
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    background: white;
    border-radius: 8px;

}

h1, h3{
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}


form {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

form input {
    flex: auto;
    border: 2px solid #bab7b7;
    border-radius: 4px;
    padding: 10px;
    margin: 10px 10px;
    
}



table {
    width: 100%;
    margin-top: 20px;
}

table th {
    background-color: #413f3e;
    color: #e4e2e2;
    padding: 10px;
    border: 1px solid;
    text-align: left;
}

table td {
 
    border: 1px solid #ddd;
    text-align: left;
}


button {
    background: linear-gradient( #302e2d, #ada8a4);
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
    margin: 10px 10px;
}

button:hover {
    background: black;
}
